<%- include('../../components/header') %>
<div class="posts-page">
  <div class="container">
    <div class="article">
      <div class="header">
        <h1>这是文章标题</h1>
      </div>
      <div class="content">
        这是文章内容
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates earum quas incidunt nihil dignissimos, fuga quae voluptate autem fugiat, magni dicta mollitia pariatur sapiente iusto voluptatem enim accusantium. Facilis, ipsa?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus illum ut id ratione accusamus! Voluptatum numquam, enim omnis temporibus tempora molestias atque odio optio! Unde obcaecati corrupti rerum consequuntur delectus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam blanditiis dicta placeat voluptates id vel rem laudantium nihil. Modi aut, commodi debitis ad iure sunt ducimus doloremque dolores illo veniam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium dolor qui hic perferendis, incidunt, natus vitae aliquam, doloremque cum repellat recusandae corporis maiores. At fugit expedita cupiditate voluptas velit quidem?
      </div>
      <div class="comment">
        <div class="header"><h3><%= 0%>个回答</h3></div>
        <div class="list">
          <div class="reply">
            这篇文章真的很棒
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../components/footer') %>
