<%- include('../../components/header') %>
<div class="posts-page">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <ul class="list-group">
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
          <li class="list-group-item">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur odio iusto inventore ex accusantium, nemo quaerat, ullam tempora voluptate numquam beatae quasi voluptatibus iure amet quae aut non a consequatur.
          </li>
        </ul>
        <ul class="pagination">
          <li><span>1</span></li>
          <li><span>2</span></li>
          <li><span>3</span></li>
          <li><span>4</span></li>
          <li><span>5</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%- include('../../components/footer') %>
